body{

}

button{
  text-transform: uppercase;
}

#gameArea{
  background-color: #22183b;
  margin-left: 20%;
  width: 750px;
  height: 650px;
}

#startButton{
  position: absolute;
  background-color: #6b4db7;
  color:white;
  border: none;
  font-size: 30px;
  top:45%;
  left: 45%;
}

#startButton:hover, .gameButton:hover, #gameOverBox button:hover, #nextLevel button:hover{
  opacity: .5;
  transition: .4s ease;
}

.box2:hover{
  color:white;
}

#wordsArea{
  background-color: #6b4db7;
  width: 250px;
  height: 640px;
  display: none;
  border: 5px solid black;
}

#box0{
  display: inline-flex;
  margin-bottom: 0px;
  margin-top: 4px;
  margin-left: 3px;
  width:100px;
  height: 20px;
  word-wrap: break-word;
  overflow: hidden;
}

#answer{
  display: inline-block;
  letter-spacing: 2px;
  font-size: 19px;
  font-family: arial;
  font-weight: bold;
  margin-left: 10px;
  color: yellow;
}

#inputBox{
  position:absolute;
  background-color: #6b4db7;
  border: 5px solid black;
  width:400px;
  height:90px;
  left: 42.5%;
  top:25%;
  display: none;
}

#inputBox div{
  width:50px;
  height: 50px;
  margin-left: 8px;
  background-color: #d3caea;
  border: 2px solid black;
  display:inline-flex;
}

#letter{
  font-size: 50px;
  font-family: arial;
  margin-left: 8px;
  display:inline-flex;
}

#mixedWords{
  position:absolute;
  background-color: #6b4db7;
  border: 5px solid black;
  width:400px;
  height:90px;
  left: 42.5%;
  top:40%;
  display: none;
}

#buttonList{
  position:absolute;
  width:400px;
  height:100px;
  left: 42.5%;
  top:55%;
  display: none;
}

.gameButton{
  background-color: #6b4db7;
  color:white;
  border: none;
  font-size: 25px;
  top:45%;
  left: 45%;
  word-wrap: break-word;
  padding: 5px;
  margin-left: 2px;
  border: 5px solid black;
}

.box2{
  background-color: pink;
  height: 60px;
  width: 55px;
  border: 4px solid black;
  margin-left: 7px;
  display: inline-flex;
  text-align: center;
}

#givenLetters{
  font-size: 45px;
  font-family: arial;
  display: inline-flex;
}

#timer{
  position: absolute;
  background-color: pink;
  border: 5px solid black;
  top:63%;
  left:42.5%;
  width:180px;
  height:70px;
  font-family: arial;
  display: none;
}

#gameOverBox{
  position: absolute;
  background-color: black;
  color: white;
  width:250px;
  height:100px;
  top:40%;
  left:38%;
  text-align: center;
  font-family: arial;
  text-transform: uppercase;
  display: none;
}

#gameOverBox button{
  background-color: #6b4db7;
  color: white;
  border: none;
}

#nextLevel{
  position: absolute;
  background-color: black;
  color: white;
  width:250px;
  height:180px;
  top:40%;
  left:38%;
  text-align: center;
  font-family: arial;
  text-transform: uppercase;
  display: none;
}

#nextLevel button{
  background-color: #6b4db7;
  color: white;
  border: none;
}
